.calendar {
  --calendar-background: #f9f9fd;
  --calendar-font: #525e78;
  --today: rgba(255,0,0,.6);
  --selected: #9797ff;
  font-family: Roboto;
  padding: 0 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
}