.actionTitle {
  font-size: 1.15em;
  text-align: center;
  padding: 1em;
}

.actionStyle {
  background: inherit;
  border: none;
  padding: 0.5em;
}

.actions {
  text-align: center;
  margin: auto;
  max-width: 25em;
}