.buttons {
  display: flex;
  justify-content: space-between;
}

.basicButton {
  background: var(--primary-color);
  border: none;
  color: white;
  padding: 0.5em;
  margin: 0.5em 1em;
}

.items {
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
}

.itemQuantity {
  min-width: 1em;
  text-align: center;
}

.multiselect {
  margin: 0.5em 1.5em;
}

.addItemForm {
  position: absolute;
  background: white;
  padding: 2em;
  border: 3px double #292929;
  width: fit-content;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.addItemInput {
  display: block;
  margin: 0.5em;
  width: 11em;
}

.addItemSelect {
  display: block;
  margin: 0.5em auto;
  width: 11.5em;
}

.itemDetails {
  position: fixed;
  bottom: 0;
  background: #d6d6d6;
  text-align: center;
  width: 100%;
  margin: auto;
}

.goldForm {
  position: absolute;
  background: white;
  padding: 2em;
  border: 3px double #292929;
  width: fit-content;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}