.addItemForm {
  composes: newForm from "../AllActions/reusableStyles.module.scss";
}

.addItemInput {
  composes: newFormInput from "../AllActions/reusableStyles.module.scss";
}

.addItemSelect {
  composes: newFormSelect from "../AllActions/reusableStyles.module.scss";
}

.itemDetails {
  composes: detailsView from "../AllActions/reusableStyles.module.scss";
}

.goldForm {
  composes: newForm from "../AllActions/reusableStyles.module.scss";
}

.basicButton {
  composes: genericFullButton from "../AllActions/reusableStyles.module.scss";
  padding: 0.5em;
  margin: 0.75em 1em 0.5em 1em;
}

.submit {
  composes: newFormSubmit from "../AllActions/reusableStyles.module.scss";
}

.emptyList {
  composes: emptyListNotification from "../AllActions/reusableStyles.module.scss";
}

.detailsLabel {
  composes: detailsItem from "../AllActions/reusableStyles.module.scss";
}

.detailsDelete {
  composes: detailsDelete from "../AllActions/reusableStyles.module.scss";
}

.detailsInput {
  composes: detailsInput from "../AllActions/reusableStyles.module.scss";
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: space-between;
  margin: 0.75em 2em;
}

.itemQuantity {
  min-width: 1em;
  text-align: center;
}

.multiselect {
  margin: 0.5em 1.5em;
}

.numInput {
  display: flex;
  justify-content: center;
  margin: 0.6em;
  align-items: center;
  text-align: left;
}

.customGoldLabel {
  padding: 0.3em 2em 0.3em 0;
}