@import "../variables.scss";

.c-btns {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid $primary-color;
  min-height: 3.2em;
}

.c-btn {
  position: relative;
  padding: 0.75em;
  margin: 0.25em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%; /* Safari */
    height: 100%; /* Safari */
    background-color: rgb(190, 190, 190);
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.25s;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
  }
}
