.numberInput {
  display: flex;
  justify-content: center;
  margin: 0.6em;
  align-items: center;
}

.label {
  min-width: 5.5em;
  font-size: 1em;
  padding: 0.3em;
}

.input {
  padding: 0.2em;
  font-size: 0.95em;
}
