.defaultButton {
  display: block;
  background: var(--primary-color);
  color: white;
  width: 10em;
  border: none;
  margin: 0.5em auto;
  padding: 0.5em;
}

.hl {
  margin: 1em;
}

.linkColor {
  color: white;
  text-decoration: none;
}