.genericButton {
  flex: 1 1;
  border: none;
  margin: 0.2em;
  max-width: 10em;
  padding: 0.15em 0;
  background: var(--secondary-color);
}

.emptyListNotification {
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
}

.genericSingleButton {
  background: var(--secondary-color);
  border: none;
  padding: 0.15em 0;
  min-width: 5em;
  text-align: center;
  width: 11.8em;
  margin: auto;
  display: block;
}

.genericFullButton {
  background: linear-gradient(90deg, #000, #373737);;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin-top: 1em;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.newForm {
  position: absolute;
  background: white;
  padding: 2em;
  border: 3px double #292929;
  width: fit-content;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.newFormTitle {
  font-weight: bold;
  margin: 0 0 1.75em 0;
}

.newFormSubmit {
  background: black;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin-top: 1em;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.baseInputStyle {
  display: block;
  width: 11em;
  padding: 0.15em;
  border: 1px solid rgb(48, 48, 48);
  margin: 0.6em;
}

.newFormSelect {
  composes: baseInputStyle;
}

.newFormInput {
  composes: baseInputStyle;
}

.newFormError {
  composes: newFormInput;
  background: rgba(255, 0, 0, .1);
}

.detailsView {
  position: fixed;
  bottom: 0;
  background: #d6d6d6;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 1em 0;
}

.detailsItem {
  padding: 0.5em;
  font-size: 0.9em;
}

.detailsDelete {
  background: inherit;
  border: 1px solid black;
  padding: .5em;
  margin: .5em 0 1.5em 0;
}