@import "../variables.scss";
@import "../mixins.scss";

.quick-btn {
  @include def-button;
}

.btn-w-hover {
  @include def-button;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%; /* Safari */
    height: 100%; /* Safari */
    background-color: rgb(190, 190, 190);
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.25s;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
  }
}

.white-font{
  color: white;
}

.c-story {
  padding-top: 1em;
}

.c-ins-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
  font-size: 1.25em;

  &__box {
    margin-right: 1.9em;
  }
}

.c-change-usr {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;

  &__btn {
    background-color: white;
    color: $primary-color;
    padding: 0.85rem;
    min-width: 12.5em;
    margin: 0.5em auto;
  }
}

.section-break {
  margin-top: 2em;
}