@import "../variables.scss";
@import "../mixins.scss";

.quick-btn {
  @include def-button;
}

.c-story {
  padding-top: 1em;
}

.c-ins-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
  font-size: 1.25em;
  &__box {
    margin-right: 1.9em;
  }
}

.c-change-usr {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  &__btn {
    background-color: white;
    color: $primary-color;
    padding: 0.85rem;
    min-width: 12.5em;
    margin: 0.5em auto;
  }
}

.section-break {
  margin-top: 3em;
}
