.stat {
  display: flex;
  padding: 1em;
  justify-content: space-around;
}

.statInput {
  font-size: 2em;
  max-width: 1.25em;
  text-align: center;
}

.statName {
  align-self: center;
  min-width: 6em;
}

.statMod {
  width: 4em;
  align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.statModVal {
  align-self: center;
  width: 1.5em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.statSelect {
  position: relative;
}

.inputError {
  position: absolute;
  color: red;
  font-size: 0.7em;
  text-align: center;
}