@font-face {
    src: url(../../styles/Roboto-Light.ttf); // src: url(./assets/fonts/lato/Lato-Regular.ttf);
    font-family: "Roboto"; // font-family: "Lato";
}

$primary-color: rgb(53, 53, 53);

.c-sheet {
    font-family: Roboto;
    color: white;
    background-color: $primary-color;
    &__player {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &__hp {
        margin: 1em;
        padding: 1em;
        position: relative;
    }
    &__stats {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__buttons {
        display: flex; //w media query uzyc: justify-content: center;
        overflow-x: auto;
        white-space: nowrap;
        border-bottom: 1px solid $primary-color;
    }
}

.c-player {
    margin: 0 0 0 1em;
    &__name {
        font-size: 1.2em;
    }
    &__details {
        font-size: 0.8em;
    }
}

.c-stat {
    flex: 0 0 4em;
    margin: 0 0.5em 1em;
    min-height: 3em;
    &__value {
        font-size: 1.3em;
        margin-bottom: 0.25em;
    }
    &__label {
        font-size: 0.75em;
    }
}

.button {
    padding: 0.75em;
    margin: 0.25em;
}

.span-after {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    cursor: pointer;
}

.span-before {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    cursor: pointer;
}

.c-stats {
    display: flex;
    padding: 0.7em;
    font-size: 1.5em;
    justify-content: space-around;
    align-items: center;
    &__stat {
        margin: 0 0 0 0.5em;
        flex-grow: 1.1;
    }
    &__mod-val {
        margin: 0 0.5em;
        text-align: center;
    }
}

.c-skills {
    display: flex;
    flex-direction: column;
    &__skill {
        border-bottom: 1px solid $primary-color;
        font-size: 1.5em;
        margin: 0.5em 1em;
    }
}

.g-add-button {
    display: flex;
    margin: 0.25em 1em;
    font-size: 1.25em;
    justify-content: space-around;
    &__field {
        flex-grow: 1.1;
    }
    &__btn {
        margin: 0 0.5em;
        border-radius: 20%;
        color: white;
        background-color: $primary-color;
        min-width: 1em;
        min-height: 1em;
        padding: 0;
        cursor: pointer;
    }
}

.c-save-throws {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    &__title {
        text-align: center;
        font-size: 1.75em;
        margin: 1em 0;
    }
}
.c-save-throw {
    flex: 1 0 33%;
    &__title {
        font-size: 1.3em;
        margin: 0.5em 0;
    }
}

.c-save-death {
    text-align: center;
    margin-top: 2em;
    &__title {
        font-size: 1.75em;
    }
    &__label {
        margin-top: 1em;
        font-size: 1.2em;
    }
    &__checkbox {
        margin: 0.5em;
        height: 1.75em;
        width: 1.75em;
    }
}

.equipment {
    &__title {
    }
}

.c-item {
    margin: 1em 0.5em 0;
    &__name {
    }
    &__description {
    }
}

.c-story {
    &__buttons {
        margin: 2.5em 0 0;
    }
}

.generic-select {
    appearance: none;
    color: black;
    padding: 0.1em;
    font-size: 1.5em;
    text-align-last: center;
    &:focus {
        outline: none;
    }
}

.hide {
    display: none;
}

.g-btn {
    display: block;
    color: white;
    background-color: $primary-color;
    padding: 0.5em;
    margin: 0.5em auto;
    min-width: 10em;
    &--red {
        background-color: rgba(230, 41, 41, 0.918);
    }
}

.g-text {
}
