.sheet--top {
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    &--level {
        font-size: 2em;
        border: 1px solid white;
        border-radius: 50%;
        margin: 0.5em;
        padding: 0.5em;
    }
    &--name {
        margin: 0.5em 0;
        padding: 0.5em;
    }
    &--hp {
        border: 1px solid white;
        padding: 1em;
        flex-grow: 1.1;
        margin: 1em;
    }
}

.sheet--main-stats {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.6em;
    &--stat {
        min-height: 5em;
        min-width: 6em;
        max-width: 6em;
        padding: 0.3em;
        margin: 0.2em;
        &--val {
            color: white;
            font-size: 2.5em;
            margin-bottom: 0.2em;
        }
    }
}
.sheet--buttons {
    display: flex; //w media query uzyc: justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
}

.sheet--button {
    padding: 0.75em;
    margin: 0.25em;
}

.sheet--view {
    &--stats {
        display: flex;
        padding: 1em;
        font-size: 1.5em;
        &--stat {
            margin: 0 0 0 1em;
        }
        &--mod {
            flex-grow: 1.1;
            text-align: right;
        }
    }
    &--skills {
        display: flex;
        flex-wrap: wrap;
        &--section {
            flex: 1 0 33%;
            margin: 1em;
            &--title {
                margin: 0.25em 0;
                padding: 0.25em 0;

                border-bottom: 1px solid black;
                font-size: 1.3em;
            }
            &--skill {
                display: flex;
                justify-content: space-between;
                margin: 0.25em;
            }
        }
    }
    &--title {
        text-align: center;
        font-size: 1.75em;
        margin: 1em 0;
    }
    &--saving-throws {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        &--section {
            flex: 1 0 33%;
            &--title {
                font-size: 1.3em;
                margin: 0.5em 0;
            }
            &--value {
                display: flex;
                justify-content: center;
            }
        }
    }
    &--death-saving {
        text-align: center;
        margin-top: 2em;
        &--title {
            font-size: 1.75em;
        }
        &--label {
            margin-top: 1em;
            font-size: 1.2em;
        }
        &--checkbox {
            margin: 0.5em;
        }
    }
}

.generic-select {
    appearance: none;
    color: white;
    padding: 0.1em;
    font-size: 3em;
}

.generic-stat-buttons {
    display: flex;
    &--button {
        color: red;
        background-color: yellow;
        padding: 0.1em 0.25em;
        margin: 0 0.4em;
        min-width: 1.25em;
        cursor: pointer;
    }
}
