@import "../mixins.scss";

.dice-sim {
  position: absolute;
  top: 50%;
  width: 80%;
  left: 50%;
  max-height: 80%;
  background-color: white;
  z-index: 10;
  text-align: center;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.55);
}

.dice-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-input {
  text-align: center;
  border: 1px solid rgb(153, 153, 153);
  padding: 0.25em;
  margin: 0.25em;
  font-size: 0.8em;
  max-width: 2em;
}

.dice-btn {
  @include def-button;
  font-size: 0.8em;
  min-width: 5em;
  margin: 0.5em;
}

.dice-label {
  color: rgb(153, 153, 153);
}

.dice-dices{
  display: flex;
  flex-flow: column wrap;
  max-height: 400px;
}

.dice-dice {
  @include def-button;
  min-width: 4.5em;
  padding: 0.3em;
  &--delete{
    background-image: none;
    background-color: rgba(230, 51, 51, 0.9);
  }
}

.dice-result {
  display: block;
  border-bottom: 1px solid black;
  min-height: 1.25em;
  max-width: 1.5em;
  margin: 1em auto;
}

.dice-trash {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 25px;
  height: 25px;
}