.textAreaComponent {
  margin: 1em 0;
}

.label {
  display: block;
  text-align: center;
  margin: 0.5em;
}

.textArea {
  display: block;
  padding: 0.5em;
  margin: auto;
  font-size: 0.95em;
  width: 15em;
}