.count0{
  background: rgba(0, 0, 0, 0.0);
}
.count1{
  background: rgb(255, 175, 175);
}
.count2{
  background: rgb(252, 172, 145);
}
.count3{
  background: rgb(252, 184, 137);
}
.count4{
  background: rgb(255, 214, 139);
}
.count5{
  background: rgb(252, 245, 121);
}
.count6{
  background: rgb(228, 253, 80);
}
.count7{
  background: rgb(195, 253, 117);
}
.count8{
  background: rgb(134, 253, 111);
}