.c-stats {
  display: flex;
  padding: 0.7em;
  font-size: 1.5em;
  justify-content: space-around;
  align-items: center;
  &__stat {
    margin: 0 0 0 0.5em;
    flex-grow: 1.1;
  }
  &__mod-val {
    min-width: 2em;
    text-align: center;
  }
}

.stats-select {
  appearance: none;
  color: black;
  padding: 0.1em;
  font-size: 1.5em;
  text-align-last: center;
  &:focus {
    outline: 2px solid rgb(29, 29, 29);
  }
}
