.characterSheet {
  --primary-color: rgb(41, 41, 41);
  --secondary-color: rgb(239, 239, 239);
  font-family: "Roboto";

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.selectedTab {
  flex: 1 1;

  max-width: 25em;
  width: 100%;
  align-self: center;
}

.noCharacter {
  position:absolute;
  top:25%;
  left:50%;
  transform:translate(-50%,-25%);
  font-size: 1.25em;
  font-weight: bold;
  width: fit-content;
  margin: 0 0.5em;
  color: #fc5c5c;
}