.newSpellForm {
  composes: newForm from "../reusableStyles.module.scss";
}

.spellSlotsComponent {
  composes: newForm from "../reusableStyles.module.scss";
}

.spellDetails {
  composes: detailsView from "../reusableStyles.module.scss";
}

.labelDetails {
  composes: detailsItem from "../reusableStyles.module.scss";
}

.deleteDetails {
  composes: detailsDelete from "../reusableStyles.module.scss";
}

.formTitle {
  composes: newFormTitle from "../reusableStyles.module.scss";
}

.genericButton {
  composes: genericButton from "../reusableStyles.module.scss";
}

.emptyList {
  composes: emptyListNotification from "../reusableStyles.module.scss";
}

.addSpell {
  composes: genericFullButton from "../reusableStyles.module.scss";
}

.inputField {
  composes: newFormInput from "../reusableStyles.module.scss";
}

.inputError {
  composes: newFormError from "../reusableStyles.module.scss";
}

.select {
  composes: newFormSelect from "../reusableStyles.module.scss";
}

.buttonsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3em;
}

.spellStats {
  text-align: center;
  flex: 1 1;
  border: none;
  margin: 0.2em;
  max-width: 10em;
  padding: 0.3em 0;
  font-size: 0.85em;
}

.spellsGrid {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
  padding: 0.5em 0;
  font-size: 0.9em;
}

.spellName {
  font-size: 0.9em;
}

.profCheckbox {
  padding: 0.2em;
  margin: 0.3em;
}

.tableLabel {
  background: inherit;
  border: none;
  padding: 0;
}

.spellSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.currentSpellCount {
  background: inherit;
  border: none;
  width: 2.4em;
}

.maxSpellInput {
  width: 2em;
  border: none;
  text-align: center;
}

.slotLevel {
  color: inherit;
  padding: 0 1em 0 1.5em;
}