.calendar {
    max-width: max-content;
    margin: 3em auto 0 auto;
    padding: 1.5em;
    border: 2px solid #bcccdc;
    border-radius: 8px;
}

.month-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    &__button {
        font-size: 1.25em;
        display: inline-block;
        margin: 0 0.5em;
        padding: 0.5em;
    }
    &__label {
        font-size: 1.75em;
        padding: 0 0.1em;
    }
}

.day-of-week,
.days-of-month {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.day {
    background-color: white;
    border: 0;
    padding: 1em;
    border-radius: 50%;
    color: #486581;
}
.day:first-child {
    grid-column: 5;
}

.person-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    border: 2px solid #bcccdc;
    max-width: fit-content;
}

.footer {
    background-color: rgb(1, 0, 39);
    &__label {
        color: white;
    }
}

.person {
    text-align: center;
    flex: 0 0 25%;
    padding: 0.75em;

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        margin-left: 0.2rem;
        height: 20px;
        width: 20px;
    }
}

.witek::after {
    background-color: blue;
}
.janek::after {
    background-color: yellow;
}
.slawek::after {
    background-color: red;
}
.adrian::after {
    background-color: green;
}
.adam::after {
    background-color: brown;
}
.maciek::after {
    background-color: purple;
}
.potek::after {
    background-color: pink;
}
.krzysiek::after {
    background-color: grey;
}

.--blue {
    border: 1px solid blue;
    background-color: rgba(0, 0, 255, 0.13);
}
.--red {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.13);
}
.--yellow {
    border: 1px solid yellow;
    background-color: rgba(255, 255, 0, 0.13);
}
.--green {
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.13);
}
.--brown {
    border: 1px solid brown;
    background-color: rgba(165, 42, 42, 0.13);
}
.--purple {
    border: 1px solid purple;
    background-color: rgba(128, 0, 128, 0.13);
}
.--pink {
    border: 1px solid pink;
    background-color: rgba(255, 192, 203, 0.13);
}
.--grey {
    border: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.13);
}

.count0 {
    background-color: white;
}
.count1 {
    background-color: rgba(255, 153, 0, 0.15);
}
.count2 {
    background-color: rgba(255, 153, 0, 0.25);
}
.count3 {
    background-color: rgba(255, 153, 0, 0.35);
}
.count4 {
    background-color: rgba(255, 153, 0, 0.5);
}
.count5 {
    background-color: rgba(255, 153, 0, 0.65);
}
.count6 {
    background-color: rgba(255, 153, 0, 0.825);
}
.count7 {
    background-color: rgba(255, 153, 0, 0.918);
}
.count8 {
    background-color: rgb(0, 255, 42);
}
